/* Base */
@import './base/normalize.css';
@import './base/reset.css';
@import './base/typography.css';
@import './base/variables.css';

html {
    font-family: 'Roboto';
    background: var(--clr-bg-main);
}

a {
    text-decoration: none;
    color: var(--clr-emphasis-300);
    transition: color var(--transition-duration);

    &:active,
    &:focus-visible {
        color: var(--clr-primary-500);
    }

    @media (hover: hover) {
        &:hover {
            color: var(--clr-primary-500);
        }
    }
}
